body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
}

.center-top {
  text-align: center;
  margin-top: 10vh;
}

.project-warning {
  margin: 2vh 00 2vh;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9b4dca;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#portal {
  width: 100%;
  height: auto;
}
